.opacity-9 {
  opacity: 0.9;
}

.slide {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translate(100%);
  }

  to {
    transform: translate(0%);
  }
}
